__pycache__/
*.pyc
*.pyo
*.pyd
*.cache
*.pdb
.python-version

venv/
env/
.venv/

.ipynb_checkpoints/

*.duckdb
*.duckdb.wal

metro.duckdb
metro.duckdb.wal

plots/
*.png
*.jpg
*.jpeg
*.svg

# Logs
*.log

prefect.log
.flow/
.storage/
results/
artifacts/

.DS_Store

.vscode/
*.code-workspace

.idea/

*.tmp
*.bak
*.swp
*.env

